<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My Blog</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <nav>
        <div class="site-title">
            <a href="/">
                <h1>Blog Ninja</h1>
            </a>
            <p> A net Ninja Page</p>
        </div>
        <ul>
            <li> <a href="/">Blogs</a></li>
            <li><a href="/about"></a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="about content">
        <h2>about Us</h2>
        <p> Lorem ipsum dolor sit amet co quam dolorem facere iusto,
            dicta ab eve nisi. Laudantium autem und aperiam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, deleniti.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>

</body>

</html>